<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="is.uncommon.droidcon2015"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SectionDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SeamDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".steps.StepsDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".buttons.ButtonsDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".PaletteActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fab.FabControlsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fab.FabTabsBehaviorActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fab.FabToolbarTransitionActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".fab.FabSpeedDialTransitionActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SnackbarActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".CardActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".coord.CLAnchorsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".coord.CLExistingBehaviorActivity"
            android:theme="@style/AppTheme.CLExistingBehaviorActivity" />

        <activity
            android:name=".coord.CLSwipeDismissBehaviorActivity"
            android:theme="@style/AppTheme.CLExistingBehaviorActivity" />

        <activity
            android:name=".toolbar.ToolbarDemoActivity"
            android:theme="@style/AppTheme.CLExistingBehaviorActivity" />

        <activity
            android:name=".toolbar.AppbarDemoActivity"
            android:theme="@style/AppTheme.CLExistingBehaviorActivity" />

        <activity
            android:name=".toolbar.CollapsingToolbarDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".TabsDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>
